---
import DetailRestaurant from "@/components/DetailRestaurant.astro";
import Layout from "@/layouts/templateRestaurants.astro";
const { id } = Astro.params;
---

<Layout>
  <!-- <h1>{id}</h1> -->
  <DetailRestaurant id={id}/>
</Layout>
