---
import DetailRestaurant from "@/components/DetailRestaurant.astro";
import Layout from "@/layouts/templateRestaurants.astro";
const { name } = Astro.params;
---

<Layout>
  <h1>{name}</h1>
  <DetailRestaurant name={name}/>
</Layout>
