---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import { ADMIN } from '@/lib/db'

const user = Astro.locals.user
const isAdmin = user?.username === ADMIN
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🍽️ {SITE_TITLE} 🍽️</h1>
      <p>
        Welcome to the {SITE_TITLE}   ระบบจองร้านอาหารเป็นโปรแกรมที่ช่วยให้ลูกค้าสามารถจองโต๊ะในร้านอาหารล่วงหน้าได้ ระบบนี้ช่วยเพิ่มความสะดวกสบายให้กับลูกค้าและช่วยให้ร้านอาหารสามารถจัดการกับการจองโต๊ะได้อย่างมีประสิทธิภาพ
      </p>
      <button type="button" class="btn btn-primary" onclick="window.location.href='/signin'">เข้าสู่ระบบ</button>
    </main>
    <Footer />
  </body>
</html>
