---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/templateRestaurants.astro";
import { restaurants, type IRestaurant } from "../mock/data";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/signin");
}
---

<script
  src="https://kit.fontawesome.com/your-fontawesome-kit-id.js"
  crossorigin="anonymous"></script>
<Layout>
  <div class="container mt-5">
    <h1>Hi, {user.username}!</h1>
    <p>Your user ID is {user.id}.</p>
    <form method="post" action="/api/logout">
      <button class="btn btn-danger">Sign out</button>
    </form>
    <div class="row mt-4">
      
      {restaurants.map((restaurant: IRestaurant) => (
        <Card restaurant={restaurant}/>
      ))}
    </div>
  </div>
</Layout>

<script>
  document.forms[0].addEventListener("submit", async (e) => {
    e.preventDefault();
    const formElement = e.target as HTMLFormElement;
    await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    });
    window.location.href = "/signin";
  });
</script>
