---
import Layout from "@/layouts/templateRestaurants.astro";
---

<Layout>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Sign-In</h3>
          </div>
          <div class="card-body">
            <p id="form-error"></p>
            <form method="post" action="/api/login">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="inputUsername"
                  type="text"
                  placeholder=""
                  name="username"
                />
                <label for="inputUsername">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="inputPassword"
                  type="password"
                  placeholder="Password"
                  name="password"
                />
                <label for="inputPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <!-- <input
                  class="form-check-input"
                  id="inputRememberPassword"
                  type="checkbox"
                  value=""
                /> -->
                <!-- <label class="form-check-label" for="inputRememberPassword"
                  >Remember Password</label
                > -->
              </div>
              <div
                class="d-flex align-items-center justify-content-between mt-4 mb-0"
              >
                <a class="small" href="/signup">Sign-Up</a>
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<script>
  const errorMessageElement = document.getElementById("form-error")!;

  document.forms[0].addEventListener("submit", async (e) => {
    e.preventDefault();
    errorMessageElement.innerText = "";
    const formElement = e.target as HTMLFormElement;
    const response = await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    });
    if (response.ok) {
      window.location.href = "/list";
    } else {
      errorMessageElement.innerText = (await response.json()).error;
    }
  });
</script>
