---
import { restaurants, type IRestaurant } from "../mock/data";

const { name } = Astro.props;
let data: IRestaurant = restaurants[0]

// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     const name = data.get("name");
//     const phone = data.get("phone");
//     // Do something with the data
//     console.log("data",data)
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }
---

<style>
  .header-image {
    width: 100%;
    height: auto;
  }
  .map-image {
    width: 100%;
    height: auto;
  }
  .details-section {
    margin-top: 20px;
  }
  .details-section h5 {
    font-weight: bold;
  }
  .contact-info li {
    list-style: none;
  }
  .note-section {
    font-weight: bold;
  }
</style>

<div class="container">
  <!-- Header Image -->
  <div class="row">
    <div class="col-12">
      <img
        src="https://placehold.co/1500x400"
        alt="Pattern Cozy Bar"
        class="img-fluid header-image"
      />
    </div>
  </div>

  <!-- Information Section -->
  <div class="row details-section">
    <div class="col-md-6">
      <img
        src="https://placehold.co/100x100"
        alt="Map"
        class="img-fluid map-image"
      />
    </div>
    <div class="col-md-6">
      <div class="alert alert-light">
        <h5>{data.name}</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-calendar"></i> เปิดบริการ: {data.day}
          </li>
          <li>
            <i class="bi bi-clock"></i> เวลาเปิดตั้งแต่  {data.timeOpen}
          </li>
         
        </ul>
        <p>ร้านอาหาร: อิตาเลียน</p>
      </div>

      <div class="alert alert-light">
        <h5 class="text-center">Restaurant Reservation</h5>
        <form id="reservation-form" method="POST">
          <div class="mb-3">
            <label for="phone">Number of Guests</label>
            <input
              type="number"
              class="form-control"
              id="guests"
              name="guests"
              min="1"
              max="10"
              pattern="[0-9]{1}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Reservation Date</label>
            <input type="date" class="form-control" id="date" required />
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Reservation Time</label>
            <input type="time" class="form-control" id="time" required />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Details Section -->
  <div class="row details-section">
    <div class="col-12 alert alert-light">
      <h5>รายละเอียด</h5>
      <div set:html={data.detail}></div>
    </div>
  </div>
</div>
